{% load staticfiles %}

<div class="row">

    <div class="col-md-3" style="height: 500px;">
        <h3>Szczegóły pracownika</h3>
        <div>
            <img class="img-rounded" src="{% static 'img/unknown_user.jpg' %}">
        </div>
    </div>

    {% verbatim %}

    <accordion close-others="false">

        <div class="col-md-9">
            <accordion-group is-open="true">
                <accordion-heading>Dane systemowe</accordion-heading>
                <form class="form-horizontal" role="form">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-2"> ID </label>
                        <div class="col-md-7">
                            <input type="text" ng-model="person.id" disabled class="form-control">
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-2"> Data dodania </label>
                        <div class="col-md-7">
                            <input type="text" ng-model="person.creation_date_date" disabled class="form-control">
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-2"> Godzina dodania </label>
                        <div class="col-md-7">
                            <input type="text" ng-model="person.creation_date_time" disabled class="form-control">
                        </div>
                    </div>
                </form>
            </accordion-group>
        </div>


        <div class="col-md-9">
            <accordion-group is-open="true">
                <accordion-heading>Dane personalne</accordion-heading>
                <form class="form-horizontal" role="form">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-2"> Imię </label>
                        <div class="col-md-7">
                            <input type="text" ng-model="person.first_name" class="form-control">
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                    <label class="control-label col-md-2"> Nazwisko </label>
                        <div class="col-md-7">
                        <input type="text" ng-model="person.last_name" class="form-control">
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                    <label class="control-label col-md-2"> Stopień </label>
                        <div class="col-md-7">
                        <input type="text" ng-model="person.rank" class="form-control">
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                    <label class="control-label col-md-2"> Grupa </label>
                        <div class="col-md-7">
                        <input type="text" ng-model="person.group" class="form-control">
                        </div>
                    </div>
                </form>
            </accordion-group>
        </div>

        <div class="col-md-9">
            <accordion-group is-open="true">
                <accordion-heading>Dane identyfikacyjne</accordion-heading>
                <form class="form-horizontal" role="form">
                    <div class="form-group form-group-sm">
                    <label class="control-label col-md-2"> Numer karty </label>
                        <div class="col-md-7">
                        <input type="text" ng-model="person.card_number" class="form-control">
                        </div>
                    </div>
                </form>
            </accordion-group>
        </div>

    </accordion>
</div>

<div class="row">
    <accordion>
        <accordion-group is-open="false">
            <accordion-heading>Dostęp do stref systemu alarmowego</accordion-heading>
        </accordion-group>

        <accordion-group is-open="false">
            <accordion-heading>Dostęp do stref systemu kontroli dostępu</accordion-heading>
        </accordion-group>

        <accordion-group is-open="false">
            <accordion-heading>Dostęp do kluczy</accordion-heading>
        </accordion-group>
    </accordion>

</div>


{% endverbatim %}