<div class="row">
    <div class="col-md-12">
        <h3>Szczegóły grupy</h3>
    </div>
</div>

{#    generated {{ personGroupForm.as_div }} with custom changes#}

<div class="row">
    <div class="col-md-6">

        <div class="djng-line-spreader">
            <ul class="djng-form-errors" ng-show="personGroupForm.$pristine" ng-cloak>
                <li ng-show="personGroupForm.$message" class="invalid" ng-bind="personGroupForm.$message"></li>
            </ul>
            <ul class="djng-form-errors" ng-show="personGroupForm.$dirty" ng-cloak></ul>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label" for="id_name">Name</label>
            <input class="form-control" id="id_name" maxlength="25" name="name" ng-model="personGroup.name" type="text" />
            <ul class="djng-field-errors" ng-show="personGroupForm.name.$pristine" ng-cloak>
                <li ng-show="personGroupForm.name.$message" class="invalid" ng-bind="personGroupForm.name.$message"></li>
            </ul>
            <ul class="djng-field-errors" ng-show="personGroupForm.name.$dirty" ng-cloak></ul>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label" for="id_description">Description</label>
            <textarea class="form-control" cols="40" id="id_description" name="description" ng-model="personGroup.description" rows="10"></textarea>
            <ul class="djng-field-errors" ng-show="personGroupForm.description.$pristine" ng-cloak>
                <li ng-show="personGroupForm.description.$message" class="invalid" ng-bind="personGroupForm.description.$message"></li>
            </ul>
            <ul class="djng-field-errors" ng-show="personGroupForm.description.$dirty" ng-cloak></ul>
        </div>
        <button type="button" class="btn-primary" ng-click="updateData()">Uaktualnij</button>

    </div>

    <div class="col-md-6">
        <div class="form-horizontal">

            <div class="form-group form-group-sm">
                <label class="control-label col-md-3">ID</label>
                <div class="col-md-8">
                    <input class="form-control" ng-model="personGroup.id" type="text" disabled/>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <label class="control-label col-md-3">Data utworzenia</label>
                <div class="col-md-8">
                    <input class="form-control" ng-model="personGroup.creation_date_date" type="text" disabled/>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <label class="control-label col-md-3">Czas utworzenia</label>
                <div class="col-md-8">
                    <input class="form-control" ng-model="personGroup.creation_date_time" type="text" disabled/>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <label class="control-label col-md-3">Ilość pracowników</label>
                <div class="col-md-8">
                    <input class="form-control" ng-model="personCount" type="text" disabled/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <accordion close-others="true">

        <div class="col-md-12">
            {% verbatim %}
            <accordion-group is-open="false">
                <accordion-heading>Lista pracowników</accordion-heading>
                    <table class="table table-responsive table-condensed table-hover text-left">

                    </table>
            </accordion-group>
            {% endverbatim %}
        </div>

</div>