<div class="row">
    <div class="col-md-12">
        <h3>Lista grup pracowników</h3>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn-default" ng-click="loadData()">Odśwież</button>
        <button type="button" class="btn-default" ng-click="openGroupAddModal()">Dodaj</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <table class="table table-responsive table-condensed table-hover text-left">
            <tr>
                <th>Lp</th>
                <th>Nazwa grupy</th>
                <th>Data utworzenia</th>
                <th>Opis</th>
            </tr>
            {% verbatim %}
            <tr ng-repeat="group in groups">
                <td>{{ $index + 1 }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.creation_date_date }}</td>
                <td>{{ group.description }}</td>
            </tr>
            {% endverbatim %}
        </table>
    </div>
</div>