{% extends 'base.html' %}
{% load staticfiles %}
{% load webdesign %}

{% block pageTitle %} Użytkownicy {% endblock %}

{% block cssFiles %}
    {{ block.super }}
    <link href="{% static 'css/users.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid" ng-controller="pageCtr">
        <div class="row">
            <div class="col-md-12">
                <tabset justified="true" type="pills">
                    <tab heading="Przegląd" select="openPage('overview')"></tab>
                    <tab heading="Użytkownicy" select="openPage('users')"></tab>
                    <tab heading="Pracownicy" select="openPage('persons')"></tab>
                    <tab heading="System alarmowy" select="openPage('sswin')"></tab>
                    <tab heading="System kontroli dostepu" select="openPage('acs')"></tab>
                    <tab heading="Klucze" select="openPage('keys')"></tab>
                </tabset>
            </div>
        </div>

        <div class="'row" collapse="overviewPage.pageClosed">
            <div class="col-md-12" >
                <p>{% lorem 15 %}</p>
            </div>
        </div>

        <div class="'row" collapse="usersPage.pageClosed">
            <div class="col-md-2">
                <p>Menu</p>
            </div>
            <div class="col-md-10">
                <p>{% lorem 15 %}</p>
            </div>
        </div>

        <div class="'row" collapse="personsPage.pageClosed">
            <div class="col-md-2">
                <p>Menu</p>
            </div>
            <div class="col-md-10">
                <p>{% lorem 15 %}</p>
            </div>
        </div>

        <div class="'row" collapse="securitySystemsPage.pageClosed">
            <div class="col-md-2">
                <p>Menu</p>
            </div>
            <div class="col-md-10">
                <p>{% lorem 15 %}</p>
            </div>
        </div>

        <div class="'row" collapse="acsPage.pageClosed">
            <div class="col-md-2">
                <p>Menu</p>
            </div>
            <div class="col-md-10">
                <p>{% lorem 15 %}</p>
            </div>
        </div>

        <div class="'row" collapse="keysPage.pageClosed">
            <div class="col-md-2">
                <p>Menu</p>
            </div>
            <div class="col-md-10">
                <p>{% lorem 15 %}</p>
            </div>
        </div>

    </div>
{% endblock %}

{% block jsFiles %}
    {{ block.super }}
    <script src="{% static 'js/users.js' %}"></script>
{% endblock %}