<div class="modal-header">
    <h3 class="modal-title">{{ form_title }}</h3>
</div>

<div class="modal-body">
    <form name={{ rule_form.form_name }} >
        {{ rule_form.as_div }}
    </form>
</div>

<div class="modal-body">
    <form name={{ order_form.form_name }} >
        {{ order_form.as_div }}
    </form>
</div>

{% verbatim %}
priv: {{ alarmOrder.grant_privilege }}
{% endverbatim %}

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>